html,body{
    width: 100%;
    height: 100%;
}
.back{
    width: 100%;
    height: 100%;
    background-color: green;
}
.donglai{
    background-image: url(../image/input.png);
    background-size: 501px 169px;
    width: 16px;
    height: 16px;
    background: white;
    top: 0;
    left: 0;
    background-position: -396px -123px;
}
