*{margin: 0; padding: 0;} 
.banner{
    background: url(2.png) no-repeat;
    height: 100px;
    background-size: cover;
}

.menu {
    height: 50px;
    line-height: 50px;
    background: #b72121;
    transform: 0.4s;
}

.menu.menuden{
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    background: black;
}

.menu a {
    padding: 0 35px;
    color: white;
    text-transform: uppercase;
} 
.chungtoi.vangdunglai {
    top: 46px;
    position: fixed;
}
.s3{
    opacity: 0;
}
.s3.dilen{
    animation: cdlen 1s ease forwards;
}
@-webkit-keyframes cdlen{
    from{transform: translateY(300px);opacity: 0;}
    to{transform: translateY(0);opacity: 1;}
}